



<div class="dropdown ">
  <button  class="btn btn-secondary dropdown-toggle mx-auto d-block" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
    _________SEARCH_________
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
    <li><a class="dropdown-item"  routerLink="firstyear">search by name</a></li>
    <li><a  class="dropdown-item"  routerLink="secondyear">search by email</a></li>
    <li><a  class="dropdown-item"  routerLink="secondyear1">search by id</a></li>
    </ul>
</div>
<div class="container">
  <router-outlet></router-outlet>
</div>














<!-- <div *ngIf=status class="container">
  <input  type="text" name="search" class="form-control my-4" placeholder="Search Here....." [(ngModel)]= "searchTerm2"  > 
  <table class="table">
  <tr> 
    <th>POST ID</th>
    <th>ID</th>    
    <th>NAME</th>    
    <th>EMAIL</th>    
    </tr>   
    <tr *ngFor="let n of data | search2:searchTerm2 " class="p-3">
    <td>{{n.postId }}</td>
    <td>{{n.id}}</td>
    <td>{{n.name|uppercase}}</td>
    <td>{{n.email|lowercase}}</td>
    </tr>
    </table>
</div> -->