<p class="display-6 text-primary">Activities in cse department</p>

<div class="container">
<div class="row">
    <div class="col-sm-4 ">
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Coding Contest</div>
            <img class="card-img" src="https://media1.picsearch.com/is?fN4n3uXigL_ce7Bn8eO_NYHObok1Jk1tDF7feiJ4viU&height=341" alt="">
            <div class="card-footer">Prove your skills, win prizes, practice coding with other coders, have fun. Join our next contest for free now!</div>
        </div>
    </div>
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Frontend development</div>
            <img class="card-img" src="https://media3.picsearch.com/is?Dm7yqXgo8YQqpfwzu8IoXweAqB3jKC5CKazBVd0eQn0&height=204" alt="">
            <div class="card-footer">Welcome to our front-end web developer learning pathway! Here we provide you with a structured course </div>
        </div>
    </div>
    </div>

    <div class="col-sm-4  ">
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Robotics</div>
            <img class="card-img" src="https://media2.picsearch.com/is?WvreufgaOtMuG7bVo7CtJbdlc3KM-Cc6NI1EemonM5o&height=280" alt="">
            <div class="card-footer"> Robotics involves design, construction, operation, and use of robots. </div>
        </div>
    </div>

    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Machine Learning</div>
            <img class="card-img" src="https://media5.picsearch.com/is?UoHsHauzWbDeWvm0nbsTXudGcNL0tAPa_jguMvjADW8&height=341" alt="">
            <div class="card-footer">Machine learning (ML) is the study of computer algorithms that improve automatically through experience.</div>
        </div>
    </div>
    </div>

    <div class="col sm-4 ">
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Backend development</div>
            <img class="card-img" src="https://media4.picsearch.com/is?WGOLEYcoi9IzcIrUuYsJBT_H_nsx61NO9LAc0rlH2A4&height=341" alt="">
            <div class="card-footer">Welcome to our Back-end web developer learning pathway! Here we provide you with a structured course </div>
        </div>
    </div>
    </div>
</div>
</div>