<div class="container">
<table class="table">
    <tr class="bg-secondary text-light p-4" style="height: 50px;">
        <th>ID</th>
        <th>EMAIL</th>
        <th>FIRST NAME</th>
        <th>LAST NAME</th>
        <th>AVATAR</th>
    </tr>
    <tr *ngFor="let obj of data1" style=" height: 50px; ">
        <!-- <td>{{obj.id}}</td>
        <td>{{obj.email}}</td>
        <td>{{obj.first_name}}</td>
        <td>{{obj.last_name}}</td>
        <td><img [src]="obj.avatar"></td> -->
    </tr>
</table >
</div>