<p class="display-6 text-primary">Activities in it department</p>

<div class="container">
<div class="row">
    <div class="col-sm-4 ">

        <div class="card card-deck">
            <div class="card">
                <div class="card-header">Python Workshop</div>
                <img class="card-img" src="https://media2.picsearch.com/is?_zL7qGYhj4oYhI0pd7TBUXrztnFgGSRw1P3WCpeo0y8&height=320" alt="">
                <div class="card-footer">Python is an interpreted, high-level and general-purpose programming language . Python's design philosophy emphasizes code readability with its notable use</div>
            </div>
        </div>

    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Coding Contest</div>
            <img class="card-img" src="https://media1.picsearch.com/is?fN4n3uXigL_ce7Bn8eO_NYHObok1Jk1tDF7feiJ4viU&height=341" alt="">
            <div class="card-footer">Prove your skills, win prizes, practice coding with other coders, have fun. Join our next contest for free now!</div>
        </div>
    </div>
    </div>

    <div class="col-sm-4  ">
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Sql</div>
            <img class="card-img" src="https://media2.picsearch.com/is?3zN6a7VF36u4rg4dT0q3S0NvHHPLJ9pBgJssf_0b7nY&height=304" alt="">
            <div class="card-footer">SQL is a standard language for storing, manipulating and retrieving data in databases. Our SQL tutorial will teach you how to use SQL in: MySQL, SQL Server, </div>
        </div>
    </div>
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Frontend development</div>
            <img class="card-img" src="https://media3.picsearch.com/is?Dm7yqXgo8YQqpfwzu8IoXweAqB3jKC5CKazBVd0eQn0&height=204" alt="">
            <div class="card-footer">Welcome to our front-end web developer learning pathway! Here we provide you with a structured course </div>
        </div>
    </div>
    </div>

    <div class="col sm-4 ">
    <div class="card card-deck">
        <div class="card">
            <div class="card-header">Data structures</div>
            <img class="card-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/7d/Hash_table_3_1_1_0_1_0_0_SP.svg/320px-Hash_table_3_1_1_0_1_0_0_SP.svg.png" alt="">
            <div class="card-footer">The arrangement of data in a sequential manner is known as a linear data structure. The data structures used for this purpose are Arrays, Linked list, Stacks,</div>
        </div>
    </div>
    </div>
</div>
</div>